
body{
  background-image: linear-gradient(#00008B, blue);
}

table{
    border-collapse: collapse;
  }

th, td{
    border: 1px solid black;
    padding: 10px;
  }

#section_ajouter{
  text-align: center;
  
}

h1{
  text-align: center;
  margin: 2% 0 2% 0;
}

#input{
  width:20%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 2%;
}

label{
  width: 30%;
}

#mesBouttons{
  text-align: center;
}

.button{
  margin-left: 10%;
  margin-right: 10%;

  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

canvas{
  width: 60%;
  
}