*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background: linear-gradient(to right, #3D5069, #192943);
  color: white;
}


table{
    border-collapse: collapse;
  }

th, td{
    border: 1px solid black;
    padding: 10px;
}

#section_ajouter{
  text-align: center;
}

h1{
  text-align: center;
  margin: 2% auto;
  color: white;
}

#input{
  width:20%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 2%;
}

label{
  width: 30%;
}

#mesBouttons{
  text-align: center;
}

.button{
  margin-left: 10%;
  margin-right: 10%;
}

canvas{
  width: 90%;
  margin: 0 5%;
}

div p{
  text-align: center;
  margin: 1% auto;
}

#swipe-haut{
    margin: 20% 30%;
}

#titres{
    width: 100%;
    display: flex;
    flex-basis: 20%;
}

#titres p{
    margin-top: 20px;
    width:20%;
}

.tirable{
    width: 100%;
    height: 200px;
}

.log{
    margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  }